#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 550;
}
.c-p {
    cursor: pointer;
}
h2 ,h2 span{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 17px;
}
h2 span {
    color: #666;
}

table td, table th {
    padding: 13px 25px;
    white-space: nowrap;
}
.table-container{
    border-radius: 15px;
    font-family: 'Open sans';
    max-height: 585px; 
    overflow-y: auto;

}
table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    font-weight: 500;
    font-size: 13px;
    z-index: 1;
}
table td {
    font-weight: 600;
    font-size: 13px;
}
table td span {
    font-weight: 400;
    font-size: 13px;
    position: relative;
}
table td span::before {
    content: '';

}
table td .active {
    color: rgb(6, 183, 6)
}
table td .inactive {
    color: rgb(249, 38, 38)
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* responsive */

@media (max-width: 1100px) {
    table td, table th {
        padding: 13px 15px;
    }
    a {
        font-size: 12px;
    }
}
@media (max-width: 540px) {
    table td, table th {
        font-size: 12px;
    }
}
